<header>
  <nav
    class="flex flex-wrap items-center justify-between w-full py-4 md:py-0 px-4 text-lg text-gray-700 bg-white"
  >
    <div>
      <a routerLink="/" class="font-bold text-orange-400 cursor-pointer">
        E-commerce
      </a>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="menu-button"
      class="h-6 w-6 cursor-pointer md:hidden block"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>

    <div
      class="hidden w-full md:flex md:items-baseline md:w-auto items-baseline"
      id="menu"
    >
      <div class="xl:w-96" *ngIf="menuType === 'default'">
        <div class="input-group relative flex items-stretch w-full mb-4">
          <input
            type="search"
            class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="button-addon2"
          />
          <button
            class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center"
            type="button"
            id="button-addon2"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="search"
              class="w-4"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div [ngSwitch]="menuType">
        <ul
          *ngSwitchCase="'default'"
          class="pt-4 text-base text-gray-700 md:flex md:justify-between items-baseline md:pt-0"
        >
          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 cursor-pointer"
              routerLink="/"
              >Home</a
            >
          </li>
          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 cursor-pointer"
              routerLink="/seller-auth"
              >Seller</a
            >
          </li>
          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 cursor-pointer"
              href="#"
              >Login</a
            >
          </li>

          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 text-purple-500 cursor-pointerss"
              >Cart <span>0</span></a
            >
          </li>
        </ul>
        <ul
          *ngSwitchCase="'seller'"
          class="pt-4 text-base text-gray-700 md:flex md:justify-between items-baseline md:pt-0"
        >
          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 cursor-pointer"
              routerLink="/seller-add-product"
              >Add Product</a
            >
          </li>
          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 cursor-pointer"
              routerLink="/seller-home"
            >
              List</a
            >
          </li>
          <li>
            <a
              class="md:p-4 py-2 block hover:text-purple-400 cursor-pointer"
              (click)="logout()"
              >Logout</a
            >
          </li>

          <li>
            <a class="md:p-4 py-2 block hover:text-purple-400 text-purple-500"
              >{{ sellerName | titlecase }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
