<div
  class="flex flex-col items-center border-b bg-white py-4 sm:flex-row sm:px-10 lg:px-20 xl:px-32"
>
  <a href="#" class="text-2xl font-bold text-gray-800">My Cart</a>
  <div class="mt-4 py-2 text-xs sm:mt-0 sm:ml-auto sm:text-base"></div>
</div>
<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32 mb-2">
  <div class="px-4 pt-8">
    <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
      <div
        class="flex flex-col rounded-lg bg-white sm:flex-row"
        *ngFor="let item of cartData"
      >
        <img
          class="m-2 h-24 w-28 rounded-md border object-cover object-center"
          src="{{ item.image }}"
          alt=""
        />
        <div class="flex w-full flex-col px-4 py-4">
          <span class="font-semibold">{{ item.productname }}</span>
          <span class="float-right text-gray-400"
            >Quantity : {{ item.quantity} }</span
          >
          <p class="text-lg font-bold">{{ item.price }}</p>
          <button
            (click)="removeToCart(item.id)"
            class="bg-yellow-400 px-2 h-6 hover:text-yellow-50"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
    <p class="text-xl font-medium">Summary</p>
    <div class="flex justify-between py-2">
      <p class="text-gray-400">Total Amount :</p>
      <div>
        <span> {{ priceSummary.price }} </span>
      </div>
    </div>
    <div class="flex justify-between py-2">
      <p class="text-gray-400">Tax :</p>
      <div>
        <span>
          {{ priceSummary.tax }}
        </span>
      </div>
    </div>
    <div class="flex justify-between py-2">
      <p class="text-gray-400">Discount :</p>
      <div>
        <span>{{ priceSummary.discount }}</span>
      </div>
    </div>
    <div class="flex justify-between py-2">
      <p class="text-gray-400">Delivery</p>
      <div>
        <span>{{ priceSummary.delivery }}</span>
      </div>
    </div>
    <div class="flex justify-between py-2">
      <p class="text-black font-bold">Total :</p>
      <div>
        <span class="font-bold">{{ priceSummary.total }}</span>
      </div>
    </div>
    <div class="flex justify-center mt-2 mb-4">
      <button
        routerLink="/checkout"
        class="bg-yellow-400 px-2 h-6 hover:text-yellow-50"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
