<div class="flex justify-evenly items-center my-10" *ngIf="productData">
  <div class="">
    <img class="w-60 h-72" src="{{ productData.image }}" alt="" />
  </div>
  <div>
    <div class="">
      <h1 class="pb-2 font-semibold text-xl">{{ productData.productname }}</h1>
    </div>
    <h6 [style.background]="productData.color" class="product-color pb-2">
      Color:{{ productData.color }}
      <!-- <p class="my-10"></p> -->
    </h6>
    <h6 class="py-2">Category : {{ productData.category }}</h6>
    <h6 class="py-2">Description : {{ productData.description }}</h6>

    <div class="grid grid-cols-2 my-3 gap-2">
      <button
        *ngIf="!removeCart"
        class="bg-yellow-300 text-black"
        (click)="AddToCart()"
      >
        Add to Card
      </button>
      <button
        *ngIf="removeCart"
        class="bg-yellow-300 text-black"
        (click)="RemoveToCart(productData.id)"
      >
        Remove to Card
      </button>
      <button class="bg-green-600 text-black">Buy Now</button>
    </div>
    <div class="">
      <button
        class="bg-green-600 w-10 text-white"
        (click)="handleQuntity('sub')"
      >
        -
      </button>
      <input
        type="text"
        class="bg-slate-300 text-black px-2"
        value="{{ productQuantity }}"
      />
      <button
        class="bg-red-600 w-10 text-white"
        (click)="handleQuntity('plus')"
      >
        +
      </button>
    </div>
  </div>
</div>
