<div class="bg-grey-lighter min-h-screen flex flex-col mt-4">
  <div
    *ngIf="!showLogin"
    class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
  >
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Seller Sign-Up</h1>
      <form
        class="w-full max-w-lg"
        #SellerSignUp="ngForm"
        (ngSubmit)="SignUp(SellerSignUp.value)"
      >
        <input
          type="text"
          ngModel
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="fullname"
          placeholder="Full Name"
        />
        <input
          type="text"
          ngModel
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="email"
          placeholder="Email"
        />
        <input
          type="password"
          ngModel
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="password"
          placeholder="Password"
        />
        <button
          type="submit"
          class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 focus:outline-none my-1"
        >
          Sign-Up
        </button>
        <!-- <div class="text-center text-sm text-grey-dark mt-4">
          By signing up, you agree to the
          <a
            class="no-underline border-b border-grey-dark text-grey-dark"
            href="#"
          >
            Terms of Service
          </a>
          and
          <a
            class="no-underline border-b border-grey-dark text-grey-dark"
            href="#"
          >
            Privacy Policy
          </a>
        </div> -->
        <div class="text-grey-dark mt-6 text-center">
          Already have an account?
          <a
            class="no-underline border-b border-blue text-blue-400 cursor-pointer"
            (click)="openLogin()"
          >
            Log In
          </a>
        </div>
      </form>
    </div>
  </div>

  <div
    *ngIf="showLogin"
    class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
  >
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Seller Login</h1>
      <p class="text-red-600">{{ authError }}</p>
      <form
        class="w-full max-w-lg"
        #SellerLogin="ngForm"
        (ngSubmit)="login(SellerLogin.value)"
      >
        <input
          type="text"
          ngModel
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="email"
          placeholder="Email"
        />
        <input
          type="password"
          ngModel
          class="block border border-grey-light w-full p-3 rounded mb-4"
          name="password"
          placeholder="Password"
        />
        <button
          type="submit"
          class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 focus:outline-none my-1"
        >
          Login
        </button>
        <!-- <div class="text-center text-sm text-grey-dark mt-4">
          By signing up, you agree to the
          <a
            class="no-underline border-b border-grey-dark text-grey-dark"
            href="#"
          >
            Terms of Service
          </a>
          and
          <a
            class="no-underline border-b border-grey-dark text-grey-dark"
            href="#"
          >
            Privacy Policy
          </a>
        </div> -->
        <div class="text-grey-dark mt-6 text-center">
          Already have't an account?
          <a
            class="no-underline border-b border-blue text-blue-400 cursor-pointer"
            (click)="openSignUp()"
          >
            Sign-Up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
