<div>
  <div
    class="flex justify-evenly mt-10 border-b pb-5 border-blue-500 max-sm"
    *ngFor="let item of SearchResult"
  >
    <div>
      <a routerLink="/details/{{ item.id }}">
        <img class="w-52 cursor-pointer" src="{{ item.image }}" alt=""
      /></a>
    </div>
    <div>
      <a routerLink="/details/{{ item.id }}">
        <h6 class="pb-1 cursor-pointer">{{ item.productname }}</h6></a
      >
      <p class="pb-1">
        <b>Price : {{ item.price }}</b>
      </p>
      <p class="pb-1">
        <span class="text-black font-semibold"
          >Color : <span class="font-thin">{{ item.color }}</span></span
        >
        <span class="text-black font-semibold"> {{ item.category }}</span>
      </p>
      <p class="pb-1">{{ item.description }}</p>
    </div>
  </div>
</div>
